@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>
        @{
            //razor pages
            int a = 2, b = 5;
            int somma = a + b;
        }
    </p>
    <p>mucias gracias a el viecho suuu @somma</p>
</div>
